* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 600px;
  border: 15px solid #003153;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  border: 1px solid black;
  background-color: lightgray;
  flex: 1;
}

.cellActive {
  background-color: #d9381e;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 40%;
  height: 5px;
  border-radius: 5px;
  background: #003153;
  outline: none;
  opacity: 0.9;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #d9381e;
  cursor: pointer;
}
