* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

.grid {
  display: flex;
}

.row {
  display: flex;
}

.cell {
  border: 1px solid black;
  background-color: lightgray;
  width: 50px;
  height: 50px;
}

.cellActive {
  background-color: red;
}
