* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 600px;
  border: 15px solid salmon;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  border: 1px solid black;
  background-color: lightgray;
  flex: 1;
}

.cellActive {
  background-color: #d9381e;
}
